.loader {
    --size: 30px;
    --main-color: var(--accent);
    --secondary-color: #630FFE60;
    display: block;
    height: var(--size);
    width: var(--size);
    -webkit-animation: loader-1 4s linear infinite;
            animation: loader-1 4s linear infinite;
}
@-webkit-keyframes loader-1 {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-1 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader span {
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: var(--size);
    width: var(--size);
    clip: rect(16px, var(--size), var(--size), 0);
    -webkit-animation: loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader-2 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-2 {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-2 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: var(--size);
    width: var(--size);
    border: 3px solid transparent;
    border-top: 3px solid var(--main-color);
    border-radius: 50%;
    -webkit-animation: loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
            animation: loader-3 2s cubic-bezier(0.770, 0.000, 0.175, 1.000) infinite;
}
@-webkit-keyframes loader-3 {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes loader-3 {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
.loader span::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    bottom: 0; right: 0;
    margin: auto;
    height: var(--size);
    width: var(--size);
    border: 3px solid var(--secondary-color);
    border-radius: 50%;
}